---
http_interactions:
- request:
    method: post
    uri: https://ws1.czebox.cz/DS/df
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:v20="http://isds.czechpoint.cz/v20">
          <soapenv:Header/>
          <soapenv:Body>
            <v20:DataBoxCreditInfo>
              <v20:dbID>mxbf8u6</v20:dbID>
              <v20:ciFromDate/>
              <v20:ciTodate/>
            </v20:DataBoxCreditInfo>
          </soapenv:Body>
        </soapenv:Envelope>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='utf-8'?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"><SOAP-ENV:Body><p:DataBoxCreditInfoResponse
        xmlns:p="http://isds.czechpoint.cz/v20" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><p:currentCredit>598200</p:currentCredit><p:notifEmail
        xsi:nil="true"></p:notifEmail><p:ciRecords></p:ciRecords><p:dbStatus><p:dbStatusCode>0000</p:dbStatusCode><p:dbStatusMessage>Provedeno
        úspěšně.</p:dbStatusMessage></p:dbStatus></p:DataBoxCreditInfoResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Mon, 18 Jun 2018 12:53:58 GMT
recorded_with: VCR 3.0.3
