---
http_interactions:
- request:
    method: post
    uri: https://ws1.czebox.cz/DS/dx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:v20="http://isds.czechpoint.cz/v20">
          <soapenv:Header/>
          <soapenv:Body>
            <v20:GetMessageStateChanges>
              <v20:dmFromTime>2018-03-22T00:00:00+01:00</v20:dmFromTime>
              <v20:dmToTime>2018-05-22T00:00:00+02:00</v20:dmToTime>
            </v20:GetMessageStateChanges>
          </soapenv:Body>
        </soapenv:Envelope>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='utf-8'?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"><SOAP-ENV:Body><q:GetMessageStateChangesResponse
        xmlns:q="http://isds.czechpoint.cz/v20" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><q:dmRecords></q:dmRecords><q:dmStatus><q:dmStatusCode>0000</q:dmStatusCode><q:dmStatusMessage>Provedeno
        úspěšně.</q:dmStatusMessage></q:dmStatus></q:GetMessageStateChangesResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Mon, 21 May 2018 22:00:00 GMT
recorded_with: VCR 3.0.3
